<template name="label">
  <div class="filtro">
    <div class="filtro__topMax topMax">
      <img src="http://api.randomuser.me/portraits/thumb/women/1.jpg" srcset="http://api.randomuser.me/portraits/thumb/women/1.jpg 1x, http://api.randomuser.me/portraits/med/women/1.jpg 2x" class="emailInfo__img" alt="xxx">
    </div>
    <div class="filtro__compose">
      <button class="btn__compose">Compose mail</button>
    </div>
    <h3>Labels</h3>
    <ul class="labels">
      <li class="labels__item">
        <a href="/inbox">
          <span class="labels__caption">Inbox</span>
        </a>
      </li>
      {{#each captions}}
      <li class="labels__item">
        <a href="/label/{{name}}">
          <span class="labels__caption">{{name}}</span>
          <span class="labels__bullet labels__bullet--{{lowerCase name}}"></span>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
</template>
