$cor = {
  fundo: #F3F3F3
  filtro: #36393e
  lista: #f6f5f3
  email: white
  white: white
  black: black
  green: #97c89b
  blue: #14AFF4
  gray: #888888
  graylight: #efefef
  divide: #e5e4e2
  gold: #FFCC00
  icon: #d1d0ce
  red: red
}

$lista
  list-style none
  margin: 0
  padding 0

$vh
  height: 100vh

$boxs
  box-sizing border-box

$inlineblockMiddle
  display: inline-block
  vertical-align: middle

$btn
  color: $cor.white
  background: $cor.green
  border: 0
  border-radius 3px
  padding 5px 10px
  text-transform uppercase
  display-inline: block

$bpMobile = 959px
